<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Tracks</h1>
</div>

<div>
  <mat-card class="example-card" *ngIf="album">
    <mat-card-title-group>
      <mat-card-title>{{ album?.title }}</mat-card-title>
      <img mat-card-xl-image [src]="api + '/uploads/' + album?.image" alt="{{ album?.title }}">
    </mat-card-title-group>
  </mat-card>

  <mat-card *ngFor="let track of tracks | async">
    <div fxLayoutAlign="start center">
      <div fxFlex="40" fxLayoutAlign="start center">
        <span class="material-icons" (click)="onListen(track._id)">
            play_circle_filled
        </span>
        <span class="material-icons" *ngIf="slider !== 0 && track._id === idTrack" (click)="onPause()">
          pause_circle
        </span>
        <span class="text"><strong>{{ track.title }}</strong></span>
        <span class="text">{{track.duration }}</span>
      </div>
      <mat-slider aria-label="unit(s)" value="{{idTrack === track._id?slider:0}}"></mat-slider>
      <span class="material-icons" *appRoles="['admin']">
        delete_forever
      </span>
    </div>
    <div>
      <a mat-raised-button>{{ (track.isPublished === false) ? 'Not published': ''}}</a>&nbsp;
      <a mat-raised-button (click)="onPublish(track._id)"
      >{{ (track.isPublished === false) ? 'Publish': ''}}</a>
    </div>
  </mat-card>
</div>

