.container
  margin: 0 auto
  width: 1160px

a
  text-decoration: none
  font-family: Chilanka, serif
  color: lightgreen
  font-weight: bold
  font-size: 25px

a:hover
  color: blueviolet

mat-toolbar
  padding: 10px 0 10px 120px
  background: #000
  box-shadow: 0 0 8px 3px #000000

.register
  margin-right: 100px
  color: lightgray
  font-size: 35px

.register:hover
  color: white
