mat-card
  margin: 20px
  font-family: Chilanka, serif
  transition: 0.4s

mat-card:hover
  box-shadow: 0 0 8px 3px #dddddd

img
  margin: 0 auto 15px
  border-radius: 50%

.delete
  background: black
  color: whitesmoke
  transition: 0.4s

.trackLink
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)
  transition: 0.4s

.trackLink:hover
  background: radial-gradient(circle, rgba(148,187,233,1) 0%, rgba(238,174,202,1)  100%)

.delete:hover
  background: darkgray

