<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Albums</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <h1>{{ title }} albums:</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else albumsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #albumsArea>
  <div class="content" fxLayout="row wrap">
    <mat-card class="example-card" *ngFor="let album of albums | async">
      <img
        mat-card-lg-image
        [src]="api + '/uploads/' + album.image"
        [alt]="album.title">
      <mat-card-title-group>
        <mat-card-title fxLayoutAlign="center center">
          <span class="material-icons">
            album
          </span>
          {{ album.title }}
        </mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        Release year:
        <strong>{{ album.year }}</strong>
      </mat-card-content>
      <a mat-raised-button [routerLink]="['/', album._id, 'tracks']">Tracks >></a>
    </mat-card>
  </div>
</ng-template>




