<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Albums</h1>
</div>

<div fxLayout="row" fxLayoutAlign="center center">
  <h1>{{ title }} albums:</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else albumsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #albumsArea>
  <div class="content" fxLayout="row wrap">
    <div *ngFor="let album of albums | async">
      <mat-card class="example-card" *appHasRoles="{role: ['user', 'admin'], published: album.isPublished}">
        <div>
          <div fxLayoutAlign="space-between">
            <a mat-button disabled>{{ (album.isPublished === false) ? 'Not published': ''}}</a>
            <a mat-button (click)="onPublish(album._id)"
            >{{ (album.isPublished === false) ? 'Publish': ''}}</a>
          </div>
        </div>
        <img
          mat-card-image
          [src]="api + '/uploads/' + album.image"
          [alt]="album.title">
        <mat-card-title-group>
          <mat-card-title fxLayoutAlign="center center">
          <span class="material-icons">
            album
          </span>
            {{ album.title }}
          </mat-card-title>
        </mat-card-title-group>
        <mat-card-content>
          Release year:
          <strong>{{ album.year }}</strong>
        </mat-card-content>
        <div fxLayoutAlign="space-between">
          <a mat-raised-button [routerLink]="['/', album._id, 'tracks']" class="trackLink">
            Tracks
            <span class="material-icons">
              queue_music
            </span>
          </a>
          <a mat-raised-button class="delete" *appRoles="['admin']" (click)="onDelete(album._id)">
            <span class="material-icons">
              clear
            </span>
          </a>
        </div>
      </mat-card>
    </div>
  </div>
</ng-template>




