<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Artists</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else artistsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistsArea>
  <div class="content" fxLayout="column">
    <mat-card
      [routerLink]="[artist._id,artist.title, 'artistAlbums']"
      *ngFor="let artist of artists | async"
      fxLayout="column" fxLayoutAlign="space-between"
    ><mat-card-title-group>
      <mat-card-title fxLayoutAlign="center center">
        <span class="material-icons">
          library_music
        </span>
        {{ artist.title }}
      </mat-card-title>
      <mat-card-content mat-card-avatar>
        <img
          [src]="api + '/uploads/' + artist.photo"
          [alt]="artist.title">
      </mat-card-content>
    </mat-card-title-group>
    </mat-card>
  </div>
</ng-template>

