<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Artists</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else artistsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistsArea>
  <div class="content" fxLayout="column">
    <mat-card
      [routerLink]="[artist._id,artist.title, 'artistAlbums']"
      *ngFor="let artist of artists | async"
      fxLayout="column" fxLayoutAlign="space-between"
    >
      <mat-card-title-group>
        <mat-card-title fxLayoutAlign="center center">
        <span class="material-icons">
          library_music
        </span>
          {{ artist.title }}
        </mat-card-title>
        <mat-card-content>
          <img
            mat-card-md-image
            [src]="api + '/uploads/' + artist.photo"
            [alt]="artist.title">
        </mat-card-content>
      </mat-card-title-group>
      <div>
        <button mat-button disabled>{{ (artist.isPublished === false) ? 'Not published' : ''}}</button>&nbsp;
      </div>
      <a mat-raised-button
         color="primary"
         (click)="onPublish(artist._id, $event)"
         *ngIf="!(artist.isPublished)"
      >
      <span class="material-icons">
          {{ (artist.isPublished === false) ? 'publish' : ''}}
      </span>
      </a>
      <button
        *appRoles="['admin']" mat-raised-button
        (click)="onRemove(artist._id)"
        class="removeBtn"
        color="warn"
      >
        <span class="material-icons">
          delete
        </span>
      </button>
    </mat-card>
  </div>
</ng-template>

