<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Artists</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else artistsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistsArea>
  <div class="block">
    <div [routerLink]="[artist._id,artist.title, 'artistAlbums']" *ngFor="let artist of artists | async" class="box">

      <div *appHasRoles="{role: ['user', 'admin'], published: artist.isPublished}" fxLayout="column">
        <mat-card-title>
          <h1 fxLayoutAlign="space-between">{{ artist.title }}
            <span class="material-icons" *appRoles="['admin']" (click)="onRemove(artist._id)">delete</span>
          </h1>
        </mat-card-title>
        <div class="opacity_img">
          <img mat-card-image [src]="api + '/uploads/' + artist.photo" [alt]="artist.title">
          <span class="material-icons play">
            play_circle_outline
          </span>
        </div>
        <button mat-button disabled>{{ (artist.isPublished === false) ? 'Not published' : ''}}</button>&nbsp;
        <a mat-raised-button color="primary" (click)="onPublish(artist._id, $event)" *ngIf="!(artist.isPublished)">
        {{ (artist.isPublished === false) ? 'Publish >>' : ''}}
        </a>
      </div>
    </div>
  </div>
</ng-template>

