mat-card
  margin: 20px
  width: 15%
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%)
  font-family: Chilanka, serif

mat-card:hover
  box-shadow: 0 0 5px 3px  rgba(148,187,233,1)

h1
  margin-top: 30px
  font-family: Chilanka, serif
  color: lightgray
  font-weight: bold

img
  width: 100%
  margin: 0 auto 15px
  border-radius: 50%
