<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Albums</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else albumsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #albumsArea>
  <div class="content" fxLayout="row wrap">
    <mat-card class="example-card" *ngFor="let album of albums | async">
      <mat-card-title-group>
        <mat-card-title>{{ album.title }}</mat-card-title>
        <img
          mat-card-md-image
          [src]="api + '/uploads/' + album.image"
          [alt]="album.title">
      </mat-card-title-group>
      <mat-card-content>
        {{ album.year }}
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>



