<div fxLayout="row" fxLayoutAlign="center center">
  <h1>Artists</h1>
</div>

<mat-progress-spinner
  *ngIf="loading | async else artistsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistsArea>
  <div class="content" fxLayout="row wrap">
    <mat-card
      [routerLink]="['artistAlbums']"
      *ngFor="let artist of artists | async"
      (click)="showAlbums(artist._id)"
      fxLayout="column" fxLayoutAlign="center center"
    ><mat-card-title-group>
        <mat-card-title>{{ artist.title }}</mat-card-title>
      </mat-card-title-group>
      <mat-card-content>
        <img
          mat-card-xl-image
          [src]="api + '/uploads/' + artist.photo"
          [alt]="artist.title">
      </mat-card-content>
    </mat-card>
  </div>
</ng-template>

