<div fxLayout="row" fxLayoutAlign="space-between flex-start">
  <h1>Artists</h1>
</div>

<div class="error" *ngIf="error | async">
  {{ error | async }}
</div>

<mat-progress-spinner
  *ngIf="loading | async else artistsArea" mode="indeterminate"
></mat-progress-spinner>

<ng-template #artistsArea>
  <div class="content">
    <mat-card
      class="example-card"
      *ngFor="let artist of artists | async"
      (click)="showAlbums(artist._id)"
    ><mat-card-title-group>
        <mat-card-title>{{ artist.title }}</mat-card-title>
        <img
          mat-card-md-image
          [src]="api + '/uploads/' + artist.photo"
          [alt]="artist.title">
      </mat-card-title-group>
    </mat-card>
  </div>
</ng-template>

